@using CourseBooking.ViewModels
<h3>Anmeldungen</h3>

@(Html.Kendo().Grid<RegistrationsViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        //columns.Bound(p => p.PreName);
        //columns.Bound(p => p.City);
        //columns.Bound(p => p.CourseType);
        //columns.Command(command => command.Custom("Zuweisen").Click("assign"));
        //columns.Command(command => command.Custom("Bestätigen").Click("confirm"));
        //columns.Command(command => command.Destroy()).Width(160);
    })
        //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CourseTemplate"))
    .Pageable()
        //.ClientDetailTemplateId("template")
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.Id))
                    .Read(read => read.Action("GetRegistrations", "CourseRegistration"))
        //.Update(update => update.Action("UpdateRegistration", "Registration"))
        //.Destroy(update => update.Action("DeleteRegistration", "Registration"))
    )
)