@{
    ViewBag.Title = "Index";
}

<h2>Anmeldung</h2>

<div>
    @Html.ActionLink("VKU", "RegisterVku")
</div>
<div>
    @Html.ActionLink("A1", "RegisterA1")
</div>
<div>
    @Html.ActionLink("A", "RegisterA")
</div>
<div>
    @Html.ActionLink("A mit A1", "RegisterAWithA1")
</div>

 