@using CourseBooking.Models
@using CourseBooking.ViewModels
<h3>Kunden</h3>

@(Html.Kendo().Grid<Registration>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.PreName);
        columns.Bound(p => p.City);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(240);
        columns.Command(command => command.Custom("Details").Click("details"));
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CourseTemplate"))
    .ClientDetailTemplateId("template")
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.Id))
                    .Read(read => read.Action("GetCustomers", "Customer"))
                        .Update(update => update.Action("UpdateCustomer", "Customer"))
                                    .Destroy(update => update.Action("DeleteCustomer", "Customer"))
    )
      )

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<RegistrationsViewModel>()
          .Name("itemGrid_#Id#")
          .Columns(columns =>
          {
              columns.Bound(p => p.Name);
              columns.Bound(p => p.RegistrationDateTime).Format("{0:dd.MM.yyyy HH:mm}");
          })
          .Scrollable()
          .ClientDetailTemplateId("coursestemplate")
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Read(read => read.Action("GetCustomerCourses", "Customer", new { customerId = "#=Id#" }))
          ).ToClientTemplate())
</script>

<script id="coursestemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<RegisteredCourseViewModel>()
          .Name("courseitemGrid_#Id#")
          .Columns(columns =>
          {
              columns.Bound(p => p.Name);
              columns.Bound(p => p.StartDateTime).Format("{0:dd.MM.yyyy HH:mm}");
              columns.Bound(p => p.Price);
          })
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(20)
              .Read(read => read.Action("GetCourseRegistrations", "CourseRegistration", new { registration = "#=Id#" }))
          ).ToClientTemplate())
</script>

<script type="text/javascript">

        function details(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            var url = '@Url.Action("Details", "Customer")?customerId=' + dataItem.Id;
            window.location.href = url;
        }


</script>