@using CourseBooking.Models
@{
    ViewBag.Title = "Kurs Vorlagen";
}

<h2>Kurstypen</h2>

@(Html.Kendo().Grid<CourseTemplate>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Name);
        columns.Bound(p => p.MaxParticipants);
        columns.Bound(p => p.NumberOfHours);
        columns.Bound(p => p.Price);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CourseTemplate"))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
            .Create(update => update.Action("CourseTemplate_Create", "CourseTemplates"))
                    .Read(read => read.Action("GetCourseTemplates", "CourseTemplates"))
                    .Update(update => update.Action("CourseTemplate_Update", "CourseTemplates"))
                            .Destroy(update => update.Action("DeleteCourseTemplate", "CourseTemplates"))
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

