@using CourseBooking.Models
@model CourseBooking.Models.CourseSet

<h2>Kurstypen</h2>

@(Html.Kendo().Grid<CourseSetEntry>(Model.Entries)
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CourseTemplate"))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>